/* Question2 */
.images {
    display: flex;
    height: 60vh;
    width: auto;
    justify-content: space-evenly; 
}

.images img{
    border: 2px solid black;
}

.images img h1{
display: block;
}

/* Question4 */
.picture{
    height: 70vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;      
}